.contactListContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #004e41;
    width: 30%;
}

.listOfContacts {
    overflow: scroll;
    overflow-x: hidden;
}

.listOfContacts::-webkit-scrollbar {
    width: 0;
}

.contactListHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #022423, #004136, #00725f, #00977e);
    color: #fff;
    padding: 0.5vmax;
    height: 8%;
}

.profileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vmax;
    height: 100%;
    width: 80%;
    margin-top: 1vmax;
    padding-left: 0.3vmax;
}

.profilePic {
    height: 3vmax;
    width: 3vmax;
}

.profilePic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profileName > p {
    font-weight: 800;
    font-size: 1.3vmax;
}

.logoutDiv {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1vmax;
}

.logoutButton {
    border: none;
    outline: none;
    padding: 0.4vmax;
    background-color: #ffffff9d;
    color: #006454;
    font-size: 1vmax;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.3s;
}

.logoutButton:hover {
    cursor: grab;
    background-color: rgba(255, 255, 255, 0.76);
}

.logoutButton:active {
    cursor: grabbing;
}

.searchDiv {
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #022423, #004136, #00725f, #00977e);
    padding: 0.5vmax;
}

.searchLogo {
    width: 10%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffdc;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.searchBox {
    width: 90%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.searchBox > input {
    background-color: #ffffffdc;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.8vmax;
}

.ImSearch {
    font-size: 1.1vmax;
}

.listOfContacts {
    height: 84%;
    background: linear-gradient(to bottom right, #022423, #004136, #00725f, #00977e);
}